.pixelated-bg {
    background: black;
    background-image: 
        linear-gradient(90deg, transparent 90%, rgba(255,255,255,0.1) 10%),
        linear-gradient(90deg, rgba(255,255,255,0.1) 10%, transparent 90%),
        linear-gradient(0deg, transparent 90%, rgba(255,255,255,0.1) 10%),
        linear-gradient(0deg, rgba(255,255,255,0.1) 10%, transparent 90%);
    background-size: 10px 10px;
}

